<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>CONTROL.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarBD</servlet-name>
        <servlet-class>CONTROL.CriarBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Usuario</servlet-name>
        <servlet-class>CONTROL.C_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Central</servlet-name>
        <servlet-class>CONTROL.C_Central</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Produto</servlet-name>
        <servlet-class>CONTROL.C_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Venda</servlet-name>
        <servlet-class>CONTROL.C_Venda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Relatorio</servlet-name>
        <servlet-class>CONTROL.C_Relatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Inicializador</url-pattern>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarBD</servlet-name>
        <url-pattern>/CriarBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Usuario</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
        <url-pattern>/PrimeiroUsuario</url-pattern>
        <url-pattern>/NovoUsuario</url-pattern>
        <url-pattern>/EditarUsuario</url-pattern>
        <url-pattern>/ExcluirUsuario</url-pattern>
        <url-pattern>/AtenticarUsuario</url-pattern>
        <url-pattern>/AlterarSenha</url-pattern>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Central</servlet-name>
        <url-pattern>/ConfigurarEmpresa</url-pattern>
        <url-pattern>/CriarEmpresa</url-pattern>
        <url-pattern>/ConfigurarCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Produto</servlet-name>
        <url-pattern>/NovoProduto</url-pattern>
        <url-pattern>/EditarProduto</url-pattern>
        <url-pattern>/Produtos</url-pattern>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Venda</servlet-name>
        <url-pattern>/Vendas</url-pattern>
        <url-pattern>/NovaVenda</url-pattern>
        <url-pattern>/VerVenda</url-pattern>
        <url-pattern>/ContinuarVenda</url-pattern>
        <url-pattern>/VendaAdicionar</url-pattern>
        <url-pattern>/VendaRemover</url-pattern>
        <url-pattern>/DescontoVenda</url-pattern>
        <url-pattern>/VendaFormaPagamento</url-pattern>
        <url-pattern>/FinalizarVenda</url-pattern>
        <url-pattern>/FinalizarEmDinheiro</url-pattern>
        <url-pattern>/FinalizarEmCheque</url-pattern>
        <url-pattern>/ConfirmarTroco</url-pattern>
        <url-pattern>/VoltarAoDeposito</url-pattern>
        <url-pattern>/CancelarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Relatorio</servlet-name>
        <url-pattern>/Relatorios</url-pattern>
        <url-pattern>/VerRelatorio</url-pattern>
    </servlet-mapping>
    <session-config>    
        <session-timeout>0</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicializador</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>MODEL.BEAM.SucessoException</exception-type>
        <location>/sucesso.jsp</location>
    </error-page>
    <error-page>
        <exception-type>MODEL.BEAM.AlertaException</exception-type>
        <location>/alerta.jsp</location>
    </error-page>
    <error-page>
        <location>/erro.jsp</location>
    </error-page>
</web-app>
